+if('totalCount > 0')
  .feed-articles(class="w-full grid grid-cols-2 smDown:grid-cols-1 gap-8 smDown:gap-4")
    +each('edges as messageNode, index (messageNode.node.id)')
      PortfolioFeedItem(message="{parseMessage(messageNode.node)}")
  //- +if('pageInfo && pageInfo.hasNextPage')
  //-   .btn-wrapper.flex.justify-center.w-full.py-3
  //-     Button(
  //-       label="Load more"
  //-       class="mobile:!w-full"
  //-       size="medium"
  //-       disabled="{isRefetching}"
  //-       onClick!="{() => loadMore(pageInfo.endCursor)}"
  //-     )
  +else
    p.text-paragraph-l.text-t3.w-full.text-center No articles found.
