mixin legend-item(label, value)
    .chart-legend-item(class="relative flex flex-col items-start p-2.75 w-full")&attributes(attributes)
        span(class="text-footnote text-t3 block")= label
        +if('isLoading')
            span(class="block bg-l3 rounded-2sm h-8 w-32")
            +else()
                span(class="text-h6-l xs:text-h6-s font-satoshi")= value

.chart(class="relative w-full bg-l2 border border-solid border-l4 rounded-xl h-96 xs:h-[480px] flex justify-between flex-col")
    .chart-header(class="relative z-1 flex flex-col items-start p-3.75 pb-14 xs:pb-8")
        span(class="block text-footnote text-t3") Price in USD
        span(class="flex items-center gap-3")
            +if('isLoading')
                span(class="block bg-l3 rounded-2sm h-8 w-32")
                span(class="relative block bg-l3 border h-8 w-20 border-solid border-l5 rounded-2lg before:content-[''] before:absolute before:rounded-2sm before:bg-l4 before:h-4 before:w-16 before:left-1.75 before:top-1.75")
                +else()
                    span(class="text-h3-l xs:text-h3-s") ${formatNumber(info.price, '0,0[.]00')}
                    span(class="relative block bg-l3 border border-solid border-l5 rounded-2lg p-1.75 text-caption text-t3") 
                        | 24H: {' '}
                        span(class!="{bindPriceChangeClass(info.priceChange24h)}") {formatNumber(info.priceChange24h, "0,0[.]00")}%
    .chart-graph-wrapper(class="absolute top-23 xs:top-28 h-61 xs:h-54" style:width="calc(100% + 2px)" style:left="-1px")
        .chart-graph(bind:this="{el}")
    .chart-legend(class="z-1 relative bg-l2 flex items-start border-t border-solid border-l4 xs:flex-col rounded-b-xl")
        +legend-item("Symbol", "{info.symbol}")(class="border-r border-solid border-l4 xs:border-b xs:border-r-0")
        +legend-item("FDM", "${formatNumber(info.fdm, '0,0[.]00')}")(class="border-r border-solid border-l4 xs:border-b xs:border-r-0")
        +legend-item("Total supply", "{formatNumber(info.totalSupply, '0,0[.]00')}")