article.block(class!="{className}")
  h3(class="mb-3.625 smDown:mb-3.25 leading-[29px] text-underline-offset-1")
    Link(item="{{href: '/c/'+message.communitySlug+'/'+message.messageSlug}}") {message.title}
  TextParagraph(class="mb-7.25 smDown:mb-4 text-t2") {message.subtitle}
  +if('message.hashtags && message.hashtags.length > 0')
    ul.relative.flex.items-start.gap-2.flex-wrap.w-full.list-none
      +each('message.hashtags as tag, index')
        +if('index !== 0')
          li.text-paragraph-l(class="text-t3/50") &bull;
        li.text-inter.text-paragraph-l(class="h-7.25")
          Hashtag(item="{tag}" link="/c?filter={tag}") 
            | {'#'}{tag}
