include ../common-mixins
include ../c/mixins
+main-section
  +header-wrapper
    +nav-crumbs
      +crumbItemLink("/", "Holdex")
      +crumbDelimiter
      +crumbItemText("For Startups")
    +section-hero-pages("/headerPages/for-startups.png", "/headerPages/effect.png")
      PageTitleImage(id="{message.id}") 
        | {message.title}
        div(class="smDown:text-paragraph-l text-h4-l font-normal text-center mx-auto px-[120px] smDown:px-0") We give startups a builder’s edge with hands-on expertise and founder-level support to accelerate your journey.
  +content-wrapper
    BodyRenderer(blocks="{message.blocks}")
