include ../common-mixins
include ../c/mixins
+main-section
  +header-wrapper
    +nav-crumbs
      +crumbItemLink("/", "Holdex")
      +crumbDelimiter
      +crumbItemText("For Startups")
    h1.text-title-l.font-satoshi.text-center(class="py-3.625 smDown:py-0 smDown:text-left xs:text-title-s" id="{message.id}") {message.title}
  +content-wrapper
    BodyRenderer(blocks="{message.blocks}")
