include ../common-mixins
include ../c/mixins
+main-section
  +header-wrapper
    +nav-crumbs
      +crumbItemLink("/", "Holdex")
      +crumbDelimiter
      +crumbItemText("For Startups")
    +if("themeIconName !== 'moon'")
      +section-hero-pages("/headerPages/for-startups.png")
        PageTitle(id="{message.id}") 
          | {message.title}
          div(class="text-paragraph-l smDown:text-left text-center mx-auto smDown:px-0 px-[20%]") We give startups a builder’s edge with hands-on expertise and founder-level support to accelerate your journey.
    +if("themeIconName === 'moon'")
      +section-hero-pages()
        PageTitle(id="{message.id}") 
          | {message.title}
  +content-wrapper
    BodyRenderer(blocks="{message.blocks}")
