include ../common-mixins
include ../c/mixins
+main-section
  +header-wrapper
    +nav-crumbs
      +crumbItemLink("/", "Holdex")
      +crumbDelimiter
      +crumbItemText("For Startups")
    PageTitle(
      className="text-title-l font-satoshi text-center py-3.625 smDown:py-0 smDown:text-left xs:text-title-s"
      id="{message.id}"
    ) {message.title}
  +content-wrapper
    BodyRenderer(blocks="{message.blocks}")
