include ../common-mixins
include ../c/mixins
+main-section
  +header-wrapper-v2
    +nav-crumbs
      +crumbItemLink("/", "Holdex")
      +crumbDelimiter
      +crumbItemText("For Startups")
    +section-hero-image("/header/for-startups.png", "/header/effect.png")
      +article-title-subtitle("{message.title}", "We give startups a builder’s edge with hands-on expertise and founder-level support to accelerate your journey.", "{message.id}")
  +line-break
  +content-wrapper
    BodyRenderer(blocks="{message.blocks}")
