include ../common-mixins
include ../c/mixins
+main-section
  +header-wrapper
    +nav-crumbs
      +crumbItemLink("/", "Holdex")
      +crumbDelimiter
      +crumbItemText("About")
    PageTitle(id="{message.id}") About Holdex
  +content-wrapper
    BodyRenderer(blocks="{message.blocks}")
