include ../common-mixins
include ../c/mixins
+main-section
  +header-wrapper
    +nav-crumbs
      +crumbItemLink("/", "Holdex")
      +crumbDelimiter
      +crumbItemText("About")
    +section-hero-pages("/headerPages/about.png", "/headerPages/effect.png")
      PageTitleImage(id="{message.id}") 
        | {message.title}
        div(
          class="smDown:text-paragraph-l smDown:p-1 text-h4-l font-normal text-center mx-auto px-[120px] smDown:px-0"
        ) We partner with startups and growth-stage companies to design, build and ship in Web3
  +content-wrapper
    BodyRenderer(blocks="{message.blocks}")
