@import '../../lib/styles/theme.scss';

.mobile-dropdown ul li:before {
  @apply hidden;
}

.right-shade-spacer {
  @apply w-[200px];
}

.tablescroll {
  @apply xl:-left-[53px] lg:-left-[53px] md:-left-[53px] tb:-left-[53px];
}

td {
  vertical-align: top;
  text-align: left;
  @apply p-3 w-full;
}

.col-fixed-width {
  white-space: wrap;
  @apply min-w-[200px];
}

.col-mw {
  white-space: nowrap;
  @apply max-w-[200px];
}

// TODO: col width?
// is the sticky col width to remain fixed 200px?

// TODO: no right border on scroll
// TODO: no right fade on scroll
// TODO: inline links not respecting z-index of sticky col
