@import '../../lib/styles/theme.scss';

.mobile-dropdown ul li:before {
  @apply hidden;
}

.tablescroll {
  @apply xl:-left-[53px] lg:-left-[53px] md:-left-[53px] tb:-left-[53px];
}

.col-fixed-width {
  @apply min-w-[200px];
}

.col-mw {
  @apply min-w-[150px] max-w-[200px];
}

.sidebar-social {
  .social-icon {
    height: 53.33px;
    width: 53.33px;
  }
}
.link {
  @apply w-fit relative inline-block bg-accent1-default/15 text-accent1-default transition-colors hover:bg-accent1-default/25 focus:bg-accent1-default/25;
}
