include ./index-mixins
include ./c/mixins
include ./common-mixins

+main-section
  +section-hero-wrapper
    h1.text-title-l.font-satoshi.text-center(class="smDown:text-left xs:text-h1-s smDown:mx-4" id="{message.id}")
      | At
      span.underline.font-satoshi Holdex
      | , we're helping innovators build the next Web3 products
    p.text-subtitle-l.font-inter.text-center.text-t2(class="w-full smDown:text-left smDown:px-4")
      | We are your end-to-end technical partner that builds products,
      br 
      | designs, grows teams, and transforms bold ideas into reality

  +section-kpis-wrapper
    +wrap-section(true, "background-image: linear-gradient(176deg, #1C202D 20%, #10141F 30%); padding: 0.0625rem;", "bg-l1", "background-image: linear-gradient(165deg, #393F4F 20%, #10141F 40%); padding: 0.0625rem;", "bg-subcontainer-gradient")
    +wrap-section(false, "background-image: linear-gradient(to bottom right, #D8D9E0 30%, #F0F1F5 45%); padding: 0.0625rem;", "bg-l2", "background-image: linear-gradient(to bottom right, #CACDD8 30%, #F0F1F5 40%); padding: 0.0625rem;", "bg-subcontainer-gradient-light")
    +cta('The results of ', 'our incubated projects', ' speak for themselves', '/portfolio')

    +companiesStrip(class="xs:gap-4")
      +companyLogoStripIndex([{ lightPath: '/portfolioLogo/light/clearpool.png', darkPath: '/portfolioLogo/dark/clearpool.png', name: 'Clearpool' }, { lightPath: '/portfolioLogo/light/truflation.png', darkPath: '/portfolioLogo/dark/truflation.png', name: 'Truflation' }, { lightPath: '/portfolioLogo/light/zebec.png', darkPath: '/portfolioLogo/dark/zebec.png', name: 'Zebec Protocol' }, { lightPath: '/portfolioLogo/light/synnax.png', darkPath: '/portfolioLogo/dark/synnax.png', name: 'Synnax' }, { lightPath: '/portfolioLogo/light/ozean.png', darkPath: '/portfolioLogo/dark/ozean.png', name: 'Ozean' }, { lightPath: '/portfolioLogo/light/usdx.png', darkPath: '/portfolioLogo/dark/usdx.png', name: 'USDX' }, { lightPath: '/portfolioLogo/light/nuon.png', darkPath: '/portfolioLogo/dark/nuon.png', name: 'Nuon' }, { lightPath: '/portfolioLogo/light/indexfun.png', darkPath: '/portfolioLogo/dark/indexfun.png', name: 'Index.fun' }, { lightPath: '/portfolioLogo/light/hextrust.png', darkPath: '/portfolioLogo/dark/hextrust.png', name: 'HexTrust' }, { lightPath: '/portfolioLogo/light/ithaca.png', darkPath: '/portfolioLogo/dark/ithaca.png', name: 'Ithaca' }, { lightPath: '/portfolioLogo/light/cicero.png', darkPath: '/portfolioLogo/dark/cicero.png', name: 'Cicero' }, { lightPath: '/portfolioLogo/light/finoverse.png', darkPath: '/portfolioLogo/dark/finoverse.png', name: 'Finoverse' }, { lightPath: '/portfolioLogo/light/web3headhunting.png', darkPath: '/portfolioLogo/dark/web3headhunting.png', name: 'Web3 Headhunting' }, { lightPath: '/portfolioLogo/light/nostrocket.png', darkPath: '/portfolioLogo/dark/nostrocket.png', name: 'Nostrocket' }, { lightPath: '/portfolioLogo/light/wakame.png', darkPath: '/portfolioLogo/dark/wakame.png', name: 'Wakame' }, { lightPath: '/portfolioLogo/light/pickle.png', darkPath: '/portfolioLogo/dark/pickle.png', name: 'Pickle Finance' }, { lightPath: '/portfolioLogo/light/lumiere.png', darkPath: '/portfolioLogo/dark/lumiere.png', name: 'Lumiere' }, { lightPath: '/portfolioLogo/light/amplify.png', darkPath: '/portfolioLogo/dark/amplify.png', name: 'Amplify' }, { lightPath: '/portfolioLogo/light/coins-and-skins.png', darkPath: '/portfolioLogo/dark/coins-and-skins.png', name: 'Coins and Skins' }, { lightPath: '/portfolioLogo/light/pass.png', darkPath: '/portfolioLogo/dark/pass.png', name: 'Pass' }])
  +content-wrapper
    BodyRenderer(blocks="{message.blocks}")
    p.text-t1 { @html signature }

  +section-learn-wrapper
    h2.text-title-l.font-satoshi.text-center(class="smDown:text-left xs:text-h1-s smDown:mx-4")
      | Learn
    p.text-subtitle-l.font-inter.text-center.text-t2(class="w-full smDown:text-left smDown:px-4")
      | Pioneering the Launch of Sustainable Applications That Drive
      br
      | Long-Term Financial Freedom
    .cards-wrapper(
    class="w-full grid grid-cols-2 smDown:grid-cols-1 gap-8 smDown:gap-4 auto-rows-max mt-2 mb-8 smDown:mb-4 smDown:mt-0"
  )
      +guideCard("/c/learn/article-top-web3-security-auditors", "Best Web3 Security Auditors", "Discover the top auditors ensuring the safety and integrity of blockchain and decentralized applications.", "bg-card-1-light dark:bg-card-1-dark")
      +guideCard("/c?filter=defi", "Defi Guides", "Explore the exciting world of decentralized finance with our guides and information to empower your journey", "bg-card-2-light dark:bg-card-2-dark")
    +cta("Looking for ", "Learn more", "", "/c/guides")
