section.main(class="flex flex-col items-center pt-16 xs:pt-8")
    .header-wrapper(class="flex items-center justify-center gap-1 max-w-[1028px] mb-8 tb:max-w-[794px] sm:max-w-[604px] xs:px-4 w-full")
        h1(class="text-title-l text-center smDown:text-left xs:text-h1-s" id="{message.id}") {message.title}
    .content-wrapper(class="flex items-start flex-col gap-8 xs:gap-4 max-w-[604px] w-full xs:px-4")
        BodyRenderer(blocks="{message.blocks}")