include ../common-mixins
include ../c/mixins
+main-section
  +header-wrapper
    +nav-crumbs
      +crumbItemLink("/", "Holdex")
      +crumbDelimiter
      +crumbItemText("Schedule Meeting")
    PageTitle Schedule Meeting
    .w-full(id="my-cal-inline-30min")
