include ../common-mixins
include ../c/mixins
+main-section
  +header-wrapper
    +nav-crumbs
      +crumbItemLink("/", "Holdex")
      +crumbDelimiter
      +crumbItemText("Schedule Meeting")
    h1.text-title-l.font-satoshi.text-center(class="py-3.625 smDown:py-0 smDown:text-left xs:text-title-s") Schedule Meeting
    .w-full(id="my-cal-inline-30min")
