include ../../../common-mixins
include ../../mixins

+main-section
    +header-wrapper()(class="flex-col gap-8 xs:gap-4")
        +nav-crumbs
            +crumbItemLink("/", "Home")
            +crumbDelimiter
            +crumbItemLink("/c", "Accelerator")
            +crumbDelimiter
            +crumbItemLink("/c/{storeData.community.slug}","{storeData.community.name}")
        +messageHeader("{message.title}", "{message.subtitle}", "{message.subtitle}")(id="{message.id}")
    +content-wrapper
        BodyRenderer(blocks="{message.blocks}")