//- div(class="mt-8 xs:mt-4 flex flex-col items-center w-full p-4")
//-   div(class="w-full max-w-[604px] rounded-xl border border-l4 divide-y divide-l4 bg-l1 dark:bg-l2")
//-     div(class="flex items-center gap-4 p-4")
//-       SVGIcon(name="only-logo" class="w-8 h-8 ")
//-       +if(item.picture)
//-       div(class="")
//-         div Jhon Doe
//-         div CEO, AcmeCorp
//-     div(class="flex items-center p-4") Convallis est pretium fermentum porta vitae etiam consequat donec. Et eu diam nibh dolor quam. Varius eu mattis elit ante mattis eu commodo amet ullamcorper.
